body{
    text-align: center;
    background-color: aliceblue;
    margin: 20px;
    background-color: palevioletred;
    border: solid;
} 
image{
    padding: 10px;
    border-radius: 10px;
    
}
.login{
    color: red;
}
 button{
    background-color: blue;
    border-radius: 200px;
 }




































